.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #1a1a1a;
  direction: rtl;
  margin: 0;
}

.register-card {
  background: #fff;
  padding: 40px;
  border-radius: 24px;
  width: 380px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.logo-img {
  width: 100px;
  margin-bottom: 20px;
}

.register-title {
  font-size: 20px;
  font-weight: bold;
  color: #111;
  margin-bottom: 30px;
}

.input-group {
  text-align: right;
  margin-bottom: 20px;
}

.register-label {
  display: block;
  font-size: 13px;
  color: #666;
  margin-bottom: 8px;
  font-weight: 600;
}

/* بولد کردن متن داخل ورودی‌ها و کامبوباکس */
.register-select, .register-custom-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 12px;
  outline: none;
  font-family: inherit;
  font-weight: bold; /* Bold */
  font-size: 15px;
  color: #333;
}

.phone-input-container {
  display: flex;
  border: 1px solid #eee;
  border-radius: 12px;
  background: #fff;
  align-items: center;
  direction: ltr;
  transition: border-color 0.3s;
}

.phone-input-container:focus-within {
  border-color: #f68910;
}

.country-code {
  padding: 0 15px;
  border-right: 1px solid #eee;
  color: #111;
  background: #f8f9fa;
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold; /* Bold */
}

.phone-input {
  border: none;
  padding: 12px;
  width: 100%;
  outline: none;
  font-size: 15px;
  font-weight: bold; /* Bold */
  color: #333;
}

.main-button {
  width: 100%;
  padding: 14px;
  background-color: #f68910;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: opacity 0.3s;
}

.main-button:disabled {
  opacity: 0.6;
}

.error-text-small {
  color: #dc3545;
  font-size: 12px;
  margin-top: 5px;
  font-weight: bold;
}

.footer-text {
  margin-top: 20px;
  font-size: 13px;
  color: #666;
}

.link-text {
  color: #f68910;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
}