/* VerifyPage.css */
.verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: rtl;
  background-color: #1a1a1a;
}

.verify-card {
  background: #fff;
  padding: 30px 40px;
  border-radius: 24px;
  width: 380px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.verify-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #111;
}

.verify-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.otp-input-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 25px;
  direction: ltr; /* برای اینکه ترتیب فیلدها از چپ به راست باشه */
}

.otp-input {
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #eee;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.3s;
}

.otp-input:focus {
  border-color: #f68910;
}

.verify-button {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  border: none;
  background-color: #f68910;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s;
}

.verify-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.resend-text {
  font-size: 13px;
  color: #777;
  margin-top: 20px;
}

.resend-link {
  color: #f68910;
  font-weight: bold;
  cursor: pointer;
}
.timer-section {
  margin-top: 20px;
}

.timer-count {
  color: #f68910;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}

.resend-link {
  color: #f68910;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}