.verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1a;
  direction: rtl;
}

.verify-card {
  background: #fff;
  padding: 30px 25px;
  border-radius: 20px;
  width: 360px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.logo-img { width: 80px; margin-bottom: 15px; }

.verify-title {
  font-size: 19px;
  font-weight: 800;
  color: #222;
  margin-bottom: 25px;
}

.verify-info {
  font-size: 12px;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 25px;
}

.phone-orange { color: #f68910; }

.edit-icon { cursor: pointer; font-size: 16px; }

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  direction: ltr;
}

.otp-square {
  width: 55px;
  height: 55px;
  border: 1.5px solid #f68910; /* حاشیه نارنجی طبق تصویر */
  border-radius: 12px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  outline: none;
  background-color: #fff;
}

.verify-button {
  width: 100%;
  padding: 14px;
  background-color: #f68910;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}

.resend-timer {
  font-size: 13px;
  color: #888;
}