/* index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Vazir', Tahoma, sans-serif;
  background-color: #F8FAFC;
  direction: rtl;
  overflow-x: hidden;
}

/* حذف محدودیت‌هایی که در App.css قبلی بود */
#root {
  width: 100%;
  min-height: 100vh;
}