/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Vazirmatn', sans-serif !important; /* اعمال فونت به کل پروژه */
}


body {
  font-family: 'Vazir', Tahoma, sans-serif;
  background-color: #F8FAFC;
  direction: rtl;
  overflow-x: hidden;
}

/* حذف محدودیت‌هایی که در App.css قبلی بود */
#root {
  width: 100%;
  min-height: 100vh;
}